/* -------------------------------------------------LETRAS IMPORTE-------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600&display=swap");

/* #035D32 */
/* font-family: 'Gothic A1';
   font-style: normal;

   font-family: 'Overpass';
   font-style: normal;

   font-family: 'Poppins';
   font-style: normal;

   font-family: 'Onest';
   font-style: normal;

   font-family: 'Rubik';
   font-style: normal;
   */
/* -------------------------------------------------GENERAL-------------------------------------------------------- */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* -------------------------------------------------MENÚ DE ARRANQUE-------------------------------------------------------- */
/* ---------------------TÍTULO LISTO PARA JUGAR--------------------- */
#TIT_GEN1 {
  color: rgb(255, 255, 255);
  font-family: "Onest", sans-serif;
  font-size: 6vw;
  margin-bottom: 6vh;
}
/* ---------------------CONTENEDORES GENERAL--------------------- */
#CONT_JuegoArranque {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#CONT_Botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;
}
#CONT_Contador {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
/* ---------------------BOTONES ARRANQUE--------------------- */
#BTN_Inicio {
  width: 20vw;
  height: 13vh;
  background: linear-gradient(
    -45deg,
    rgb(32, 197, 17),
    rgb(26, 95, 12),
    rgb(113, 155, 15)
  );
  background-size: 400% 400%;
  animation: animate 10s ease infinite;
  border: none;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 2.7vw;
  color: rgb(255, 255, 255);
}
#BTN_Atrás {
  width: 12vw;
  height: 10vh;
  border-radius: 30px;
  border: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    -45deg,
    rgb(0, 0, 0),
    rgb(44, 44, 44),
    rgb(0, 0, 0)
  );
  background-size: 400% 400%;
  animation: animate 5s ease infinite;
}
#BTN_Inicio:hover {
  cursor: pointer;
}
#BTN_Atrás:hover {
  cursor: help;
}
/* ---------------------CONTADOR--------------------- */
#Contador {
  color: aliceblue;
  font-size: 30vw;
  font-family: "Rubik";
  font-style: normal;
}

/* -------------------------------------------------MENÚ DEL JUEGO-------------------------------------------------------- */
/* -------------------------------------------------DIVS GENERALES-------------------------------------------------------- */
#Contenedor_Principal {
  background-color: BLACK;
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
#Contenedor_Tiempos {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 7vh;
}
#Contenedor_Secundario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 45vh;
}
#Contenedor_Respuestas {
  margin-top: 5vb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 3vh;
}
#Contenedor_Bonus {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1vw, 50%, 6vw);
}
/* -------------------------------------------------BOTONES BAJOS-------------------------------------------------------- */
/* ---------------------ANIMACIÓN BOTONES SELECCIÓN--------------------- */
.Botones_Selección {
  width: 45vw;
  height: 12vh;
  border-style: none;
  border-radius: 2cap;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
  font-size: calc(0.8em + 0.8vw);
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.Botones_Selección:hover {
  background: #cbdd01;
  box-shadow: 0 0 10px #cbdd01, 0 0 40px #cbdd01, 0 0 80px #cbdd01;
  transition-delay: 0s;
  border-radius: 2cap;
}
.sec1 {
  grid-area: 1 / 1 / 2 / 2;
}
.sec2 {
  grid-area: 1 / 2 / 2 / 3;
}
.sec3 {
  grid-area: 2 / 1 / 3 / 2;
}
.sec4 {
  grid-area: 2 / 2 / 3 / 3;
}
.neon-text {
  animation: neon 3s linear infinite alternate;
}
/* ---------------------ANIMACIÓN BOTONES BONUS--------------------- */
.Botones_Bonus {
  width: 20vh;
  height: 6vh;
  border-style: none;
  border-radius: 1cap;
  background-color: #a7a7a78a;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: /* calc(0.5em + 0.7vw) */ clamp(1.5vw, 100%, 4vw);
  font-family: "Poppins", sans-serif;
  z-index: 2;
  overflow: hidden;
}
.DIV_PAUSAPRE {
  width: 20vh;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PAUSA {
  width: 50%;
  height: 100%;
}
.PAUSA:hover {
  cursor: pointer;
}
.PREGUNTA {
  width: 50%;
  height: 80%;
}
.PREGUNTA:hover {
  cursor: pointer;
}

/* --------------------------------------TÍTULO-------------------------------------- */
#Título_Principal {
  text-align: center;
  z-index: 1;
  color: aliceblue;
  margin-bottom: 5vh;
  font-size: 5vw;
  font-family: "Rubik", sans-serif;
}
/* -------------------------------------------------BARRA DE TIEMPO-------------------------------------------------------- */
#BarraTiempoEscucha {
  background-color: #ffffff;
  width: 80vw;
  height: 2.5vh;
  border-radius: 2cap;
}
#BarraTiempoSelección {
  background-color: aliceblue;
  width: 90vw;
  height: 3vh;
  border-radius: 2cap;
}
.BarraProgreso {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  border-radius: 2cap;
}

/* -------------------------------------------------ANIMACIONES-------------------------------------------------------- */
@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* @keyframes neon {
  0% {
    text-shadow: 0 0 30px #a7a7a73d, 0 0 20px #a7a7a73d, 0 0 30px #a7a7a73d,
      0 0 30px #a7a7a73d;
  }

  100% {
    text-shadow: 0 0 50px #a7a7a73d, 0 0 60px #a7a7a73d, 0 0 80px #a7a7a73d,
      0 0 90px #a7a7a73d;
  }
} */
